# vim
*.swp

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# generated GUI files
*R.java

# specific dirs
android/TramHunter/bin/*
!android/TramHunter/bin/.keep
android/TramHunter/gen/*
!android/TramHunter/gen/.keep

# python pyc
*.pyc
*.pyo

# Mac DS Store
.DS_Store

# Eclipse settings dir
.settings

# Ignore built DB
resources/db-gen/tramhunter.db
