# vim
*.swp

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# generated GUI files
*R.java

# specific dirs
bin/*
!bin/.keep
gen/*
!gen/.keep

# python pyc
*.pyc

# Mac DS Store
.DS_Store

# Eclipse settings dir
.settings
