<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  android:versionCode="1"
		  android:versionName="0.3" 
		  package="com.andybotting.tramhunter">
	  
	<application android:icon="@drawable/icon" 
				 android:label="@string/app_name" android:theme="@android:style/Theme.Light">
		
		<activity android:label="@string/app_name" android:name=".activity.LaunchActivity"> 
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="com.andybotting.tramhunter.activity.EnterTTIDActivity" 
				  android:label="@string/app_name" 
				  android:configChanges="orientation|keyboardHidden"/>
				  
		<activity android:name="com.andybotting.tramhunter.activity.RoutesListActivity" 
				  android:label="@string/app_name" 
				  android:configChanges="orientation|keyboardHidden"/>
				  
		<activity android:name="com.andybotting.tramhunter.activity.NearStopsActivity"
				  android:label="@string/app_name" 
				  android:configChanges="orientation|keyboardHidden"/>
		
		<activity android:name="com.andybotting.tramhunter.activity.StopsListActivity" 
				  android:label="@string/app_name" 
				  android:configChanges="orientation|keyboardHidden"/>
		
		<activity android:name="com.andybotting.tramhunter.activity.StopDetailsActivity" 
				  android:label="@string/app_name" 
				  android:configChanges="orientation|keyboardHidden"/>
		
		<activity android:name="com.andybotting.tramhunter.activity.StopMapActivity" 
				  android:label="@string/app_name" 
				  android:configChanges="orientation|keyboardHidden"/>

		<activity android:name="com.andybotting.tramhunter.activity.PredictionActivity" 
				  android:label="@string/app_name" 
				  android:configChanges="orientation|keyboardHidden"/>
		
		<activity android:name="com.andybotting.tramhunter.activity.SettingsActivity" 
				  android:label="@string/app_name" 
				  android:configChanges="orientation|keyboardHidden"/>
		
		<uses-library android:name="com.google.android.maps" />
		   
	<activity android:label="@string/app_name" android:name=".activity.HomeActivity"></activity>
</application>
	
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"></uses-permission>
	
	<uses-sdk android:minSdkVersion="3" />
	
</manifest> 
